*.pyc

.installed.cfg
bin
develop-eggs

*.egg-info

tmp
build
dist
.*.swp
eggs/
parts/
sample-output/tilecache/
docs/
venv/*
test-output/

# The cached tiles from the renderer tests
src/foldbeam/tests/renderer_tests.py.cache
tests/httpcache/

# ceverage output
.coverage
htmlcov/
